[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipdb = "*"
flask-script = "*"

[packages]
flask = "*"
requests = "*"
flask-sqlalchemy = "*"
beautifulsoup4 = "*"
py-trello = "*"
openpyxl = "*"
gunicorn = "*"
ipdb = "*"
selenium = "*"

[requires]
python_version = "3.7"
